:root {
    --main-bg: #1e293b;
    --msg-bg: #334155;
    --msg-text: #e2e8f0;
    --username-color: #67e8f9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Layout */

body {
    background-color: var(--main-bg);
    max-width: 1600px;
    margin: 0 auto;
    padding: 1rem;
    @media screen and (max-width: 1000px) {
        padding: .5rem;
    }
}

/* Nav */

nav {
    padding: .5rem 1rem;
}

.nav-main {
    display: flex;
    align-items: baseline;
    margin: 0 auto;
    gap: 1rem;
}

.nav-main > a {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 4.5rem;
    font-weight: bold;   
    margin-right: auto;
}

.nav-link {
    font-size: 1.5rem;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-underline {
    background-color: white;
    height: 2px;
    width: 100%;
    margin: -0.5rem 0 0.5rem 0;
}

/* Homepage */

.msg-container {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.msg {
    background-color: var(--msg-bg);
    padding: .75rem;
    font-size: 1.5rem;
    color: var(--msg-text);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.msg-info {
    display: flex;
    justify-content: space-between;
}

.msg-user {
    font-weight: bold;
    color: var(--username-color);
}

.msg-added {
    font-size: 1rem;
}

/* Form Page */

form {
    margin-top: 1rem;
    background-color: var(--msg-bg);
    max-width: 1000px;
    justify-self: center;
    display: flex;
    flex: 1;
    flex-direction: column;

    width: 70%;
    padding: 1rem;
    gap: 1rem;
    @media screen and (max-width: 1000px) {
        width: 80%;
        padding: .5rem;
    }
}

.new-header {
    text-align: center;
    font-size: xx-large;
    color: white;
}

.form-sect {
    display: flex;
    flex-direction: column;
    color: var(--msg-text);
}

input[type="text"] {
    padding: .2rem;
}

textarea {
    resize: vertical;
    padding: .3rem;
}

