:root {
    --main-bg: #1e293b;
    --msg-bg: #334155;
    --msg-text: #e2e8f0;
    --username-color: #67e8f9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Nav */

nav {
    padding: .5rem 1rem;
}

.nav-main {
    display: flex;
    align-items: baseline;
    margin: 0 auto;
    gap: 1rem;
}

.nav-main > a {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 4.5rem;
    font-weight: bold;   
    margin-right: auto;
}

.nav-link {
    font-size: 1.5rem;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-underline {
    background-color: white;
    height: 2px;
    width: 100%;
    margin: -0.5rem 0 0.5rem 0;
}

/* Homepage */

.msg-container {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.msg {
    background-color: var(--msg-bg);
    padding: .75rem;
    font-size: 1.5rem;
    color: var(--msg-text);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.msg-info {
    display: flex;
    justify-content: space-between;
}

.msg-user {
    font-weight: bold;
    color: var(--username-color);
}

.msg-added {
    font-size: 1rem;
}

/* General Layout */

body {
    background-color: var(--main-bg);
    max-width: 1600px;
    margin: 0 auto;
}